# Tuples

1. What is Tuple ?
   Collection of elements, like list
   
2. How it is differ from List ?
   List => Mutable (can change ), Read-Write Datatype, [] are used,
   Tuple => Immutable (can't change), Read Only Datatype, () are used, preffered over list when data integrety is important
   
3. Creating Tuples
4. Access Tuple Element
5. Edit Tuple
6. Add Element in Tuple
7. Delete Element from Tuple
8. Operations on Tuple
9. Tuple related Functions

In [1]:
# 3. Creating Tuples

t1 = () # empty tuple

print(t1)

t22= (1)
print(type(t22))

t2 = (1,) # tuple with single element - giving " , " after item is must otherwise will not be treated as a tuple
print(type(t2))

t3 = (1,2,3) # tuple with more than one item
print(t3)

t4 = tuple("Friday") # using tuple() function
print(t4)

()
<class 'int'>
<class 'tuple'>
(1, 2, 3)
('F', 'r', 'i', 'd', 'a', 'y')

In [2]:
# 4. Access Tuple Element

t5 = (9,7,6,5,4)

print(t5[0])  # access item at index 0

print(t5[2:4]) # access items with index 2 to 4

print(t5[-1]) # access last item

9
(6, 5)
4

In [3]:
# 5. Edit Tuple
# 6. Add Element in Tuple
# BOTH NOT POSSIBLE AS TUPLES ARE IMMUTABLE
# 7. Delete Element from Tuple , NOT POSSIBLE FOR THE SAME REASON
# BUT YOU CAN DELETE ENTIRE TUPLE USING del e.g.

t6 = (1,2,3)
del t6

NameError: name 'td' is not defined

In [8]:
# 8. Operations on Tuple
t7 = (1,2,3)
t8 = (4,5)

print(t7 + t8) # concatenation

print(t8*3) # multiplication

for i in t7: # for over tuple
    print(i)

print(4 in t8) # membership

(1, 2, 3, 4, 5)
(4, 5, 4, 5, 4, 5)
1
2
3
True

In [11]:
# 9. Functions for Tuple
t9 = (11, 42, 13, 84, 15)

print(len(t9))

print(min(t9))

print(max(t9))

print(sum(t9))

print(sorted(t9))

5
11
84
165
[11, 13, 15, 42, 84]